<app-choices
  [choices]="choices"
  [selectedChoice]="selectedChoice"
  (selectCSS)="setCSSRadioButton($event)"
></app-choices>
<ng-container [ngSwitch]="selectedChoice">
  <new *ngSwitchCase="'new.css'"></new>
  <milligram *ngSwitchCase="'milligram'"></milligram>
  <mvp *ngSwitchCase="'mvp.css'"></mvp>
  <water-dark *ngSwitchCase="'Water.css(dark)'"></water-dark>
  <water-light *ngSwitchCase="'Water.css(light)'"></water-light>
  <attri-blightlight-green
    *ngSwitchCase="'AttriCSS(Bright Light green)'"
  ></attri-blightlight-green>
  <attri-darkfairy-pink
    *ngSwitchCase="'AttriCSS(Dark Fairy Pink)'"
  ></attri-darkfairy-pink>
  <attri-darkforest-green
    *ngSwitchCase="'AttriCSS(Dark Forest Green)'"
  ></attri-darkforest-green>
  <attri-lightfairy-pink
    *ngSwitchCase="'AttriCSS(Light Fairy Pink)'"
  ></attri-lightfairy-pink>
  <attri-midnight-green
    *ngSwitchCase="'AttriCSS(Midnight Green)'"
  ></attri-midnight-green>
</ng-container>
